/* Basics */
body {
    Margin: 0;
    padding: 0;
    min-width: 100%;
    background-color: #292929;
}
table {
    border-spacing: 0;
    font-family: sans-serif;
    color: #ccc;
}
td {
    padding: 0;
}
img {
    border: 0;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.webkit {
    max-width: 600px;
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

/* Header Banner */

.full-width-image img {

    width: 100%;
    /* override Outlook width="600px" */

    max-width: 600px;
    /* We are also setting the max-width to match
    the pixel width that we set in the HTML (600px) because
    Windows Phone does not play nice when the max-width is
    also set to 100%.*/

    height: auto;
    /* We have set height to auto to ensure that our
    image doesn't end up with the wrong aspect
    ratio anywhere. */
}

/* Single Column Layout */

.inner {
    padding: 10px;
}
p {
    Margin: 0;
}
a {
    color: #eee;
    text-decoration: none;
}
.h1 {
    font-size: 21px;
    font-weight: bold;
    Margin-bottom: 18px;
}
.h2 {
    font-size: 18px;
    font-weight: bold;
    Margin-bottom: 12px;
}

/* One column layout */
.one-column .contents {
    text-align: left;
}
.one-column p {
    font-size: 14px;
    Margin-bottom: 10px;
}

/*Two column layout*/
.two-column {
    text-align: center;
    font-size: 0;
}
.two-column .column {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}

.contents {
    width: 100%;
}

.two-column .contents {
    font-size: 14px;
    text-align: left;
}
.two-column img {
    width: 100%;
    max-width: 280px;
    height: auto;
}
.two-column .text {
    padding-top: 10px;
}

/*Three column layout*/
.three-column {
    text-align: center;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.three-column .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}
.three-column .contents {
    font-size: 14px;
    text-align: center;
}
.three-column img {
    width: 100%;
    max-width: 180px;
    height: auto;
}
.three-column .text {
    padding-top: 10px;
}

/* Left sidebar layout */
.left-sidebar {
    text-align: center;
    font-size: 0;
}
.left-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.left-sidebar .left {
    max-width: 100px;
}
.left-sidebar .right {
    max-width: 500px;
}
.left-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto;
}

.left-sidebar .contents {
    font-size: 14px;
    text-align: center;
}
.left-sidebar a {
    color: #85ab70;
}

/* Right sidebar layout */
.right-sidebar {
    text-align: center;
    font-size: 0;
}
.right-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.right-sidebar .left {
    max-width: 100px;
}
.right-sidebar .right {
    max-width: 500px;
}
.right-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto;
}
.right-sidebar .contents {
    font-size: 14px;
    text-align: center;
}
.right-sidebar a {
    color: #70bbd9;
}

/*Media Queries*/
@media screen and (max-width: 400px) {
.two-column .column,
    .three-column .column {
        max-width: 100% !important;
    }
    .two-column img {
        max-width: 100% !important;
    }
    .three-column img {
        max-width: 50% !important;
    }
}

@media screen and (min-width: 401px) and (max-width: 620px) {
.three-column .column {
        max-width: 33% !important;
    }
    .two-column .column {
        max-width: 50% !important;
    }
}

/* ‘Hamburger’ Collapsible Navigation Header */

img {
/* Allow smoother rendering of resized image in Internet Explorer */
-ms-interpolation-mode: bicubic;
}

/* force styles of client inserted tel anchors */
a[href^=tel] {
color: #295AA6;
font-weight: bold;
}

@media screen {

@font-face {
    font-family: 'CabinCondensed-reg';
    font-style: normal;
    font-weight: 400;

    src: local( 'Cabin Condensed' ),
         local( 'CabinCondensed'  ),

         url( 'https://fonts.gstatic.com/s/cabincondensed/v7/B0txb0blf2N29WdYPJjMShZ1gqmQBTb4Nwa_fF0DajA.woff' ) format( 'woff'     ),
         url( 'https://fonts.gstatic.com/s/cabincondensed/v7/B0txb0blf2N29WdYPJjMSlpNuLN9P2dR6eOCPYblbcM.ttf'  ) format( 'truetype' )
    ;
}

@font-face {
    font-family: 'CabinCondensed-bold';
    font-style: normal;
    font-weight: 700;

    src: local( 'Cabin Condensed Bold' ),
         local( 'CabinCondensed-Bold'  ),

         url( 'https://fonts.gstatic.com/s/cabincondensed/v7/Ez4zJbsGr2BgXcNUWBVgEFxo_3fQgeDvKMambfIp_uA.woff' ) format( 'woff'     ),
         url( 'https://fonts.gstatic.com/s/cabincondensed/v7/Ez4zJbsGr2BgXcNUWBVgEMYsb_UBatsJhtlz83pruSg.ttf'  ) format( 'truetype' )
    ;
}

@font-face {
    font-family: 'OpenSansCondensed-bold';
    font-style: normal;
    font-weight: 700;

    src: local( 'Open Sans Condensed Bold' ),
         local( 'OpenSans-CondensedBold'   ),

         url( 'https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff' ) format( 'woff'     ),
         url( 'https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xJhsE6jcpsD2oq89kgohWx0.ttf'  ) format( 'truetype' )
    ;
}

}

@media all and ( max-width: 600px ) {

*[id]#wrapper + table,
*[class].container,
*[class].menu
{
    min-width: 0 !important;

    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;

    width: 100% !important;
}

*[id]#logo
{
    height: 70px;
    width: 70px;
}

*[id]#mobile-label
{
    background-color: #F3F3F3;

    cursor: pointer;
    display: block !important;
    float: right;

    padding: 25px;

    -webkit-tap-highlight-color: transparent;

    width: 26px;
}

*[id]#mobile-label > b
{
    background-color: #575452;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    display: block;
    height: 4px;
}

*[id]#mobile-label > b + b
{
    margin-top: 4px;
}

*[class].menu td
{
    padding: 0 !important;
}

*[id]#menu-wrapper
{
    background-color: #292929;

    max-height: 0;

    overflow: hidden;

    -moz-transition: max-height .25s linear;
    -ms-transition: max-height .25s linear;
    -o-transition: max-height .25s linear;
    -webkit-transition: max-height .25s linear;
    transition: max-height .25s linear;
}

*[id]#mobile-checkbox:checked + table #menu-wrapper
{
    max-height: 130px;
}

*[class].menu + .menu
{

}

*[class].menu-item
{
    color: #FFFFFF !important;
    display: block;
    border-bottom: 1px solid #666;
    padding: 12px;
    text-align: center;
}

*[id]#hero
{
    font-size: 14px !important;

    height: auto !important;
    min-height: 50px !important;

    width: 100% !important;
}

td[class].content
{
    padding-left: 10px !important;
    padding-right: 10px !important;
}


td[class].social-media img
{
    height: 40px;
    width: 40px;
}

*[class].mobile-hide
{
    display: none;
}

}






